<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [opened]="isOpen">
        <div class="sidenav-logo-container">
            <app-logo></app-logo>
        </div>
        <mat-nav-list>
            <div *ngFor="let navigationItem of getNavigationItems()">
                <app-nav-menu-item [navigationItem]="navigationItem" *ngIf='navigationItem.tipo == usuario.perfil'></app-nav-menu-item>
            </div>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav-toolbar [activePage]="getActivePage()"
                         (toggleSideNav)="toggleSideNav()"
                         (logout)="logout()"
                         [previousUrl]="getPreviousUrl()"></app-nav-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
